body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #00ff00; /* Green text */
    text-align: center;
    padding: 50px;
}

.date {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.time {
    font-size: 48px;
    letter-spacing: 4px;
}
